
 
#color-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
}

.navbar {
    display: flex;
    justify-content: ;
    align-items: center;
    background-color: #f4f4f4; /* Background color of the navbar */
    padding: 10px;
    margin-bottom: 0; /* Reduce bottom margin */
}

.nav-link {
    display: flex;
    align-items: center;
    margin: 0 10px; /* Adjust spacing between nav items */
    text-decoration: none;
    color: #333;
}

.nav-square {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}


body {           
    font-family: 'Switzer', sans-serif;                                 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


main {
    margin: 20px
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
#gradient-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 1px; /* space between cells */
}



.grid-cell {
    width: 5px;
    height: 5px;
    border: 1px solid #000;
}

section {
    padding: 2em;
    background-color: #fff;
    margin: 1em 0;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

.experience-item, .project-item, .writing-item {
    margin: 1em 0;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

@keyframes waveAnimation {
    0% { transform: translateY(0px); }
    50% { transform: translateY(15px); }  /* Inverted to move upwards */
    100% { transform: translateY(0px); }
}

.wave-square {
    animation: waveAnimation 3s ease-in-out infinite;
    animation-delay: calc(-0.15s * var(--animation-order));
}



@keyframes waveAnimation {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(20px); } /* Adjust for more pronounced wave */
}

#bottom-color-grid {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px; /* Adjust based on 6 rows * 15px per square */
    display: grid;
    grid-template-columns: repeat(auto-fill, 15px); /* Assuming each square is 15px */
    grid-template-rows: repeat(6, 15px); /* 6 rows, each 15px high */
    grid-gap: 0; /* Ensure no gap between rows and columns */
    z-index: -1;
    overflow: hidden;
}

#bottom-color-grid div {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in width and height */
}


