
@font-face {
    font-family: "Futura-Bold";
    src:
      local("Futura-Bold"),
      url("Futura-Bold.woff") format("woff");
  }
  
body {                                            
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
#gradient-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 10px; /* space between cells */
}



.grid-cell {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}

section {
    padding: 2em;
    background-color: #fff;
    margin: 1em 0;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

.experience-item, .project-item, .writing-item {
    margin: 1em 0;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}